{% include 'tasks/style.html' %}
<div class="center-column">


  <h1>To Do App 📝</h1>

  <form class="" action="/" method="POST">
    {% csrf_token %}
    {{ form.title }}
    <input class="btn btn-info" type="submit" name="Create Task" value="Add Task ➕">
  </form>
  <div class="todo-list">
  {% for task in tasks%}

    <div class="item-row">


      <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update </a>
      <a class="btn btn-sm btn-warning" href="{% url 'delete' task.id %}">Delete ❌</a>

      {% if task.completed == True %}
      <del>{{ task }}</del>
      {%else%}
      <span>{{ task }}</span>
      {% endif %}
    </div>

  {% endfor %}
  </div>
</div>
